@()

@main("Welcome to Play") {

    <head>
        <h1 align="center">TransmiMetro System</h1>
        <table style="width: 100%" border="5" align="center" bgcolor="#8b0000">
            <tr>
                <th>Station Name</th>
                <th>Passengers arriving</th>
                <th>Passengers leaving</th>
            </tr>
            <tr>
                <td align="center">Portal Americas</td>
                <td align="center">Smith</td>
                <td align="center">50</td>
            </tr>
            <tr>
                <td align="center">Calle 42 sur</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Carrera 80</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Kennedy</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Avenida Boyaca</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Carrera 68</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Carrera 50</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">NQS</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Narino</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Calle 1</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Calle 10</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Calle 26</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Calle 45</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Calle 63</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
            <tr>
                <td align="center">Calle 72</td>
                <td align="center">Jackson</td>
                <td align="center">94</td>
            </tr>
        </table>

    </head>



}
